:root {
  background-color: #1a1a1a;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
#description {
  text-align: center;
  margin-bottom: 0rem;
  padding-top: 0;
}
#map-container {
  width: fit-content;
  margin: 1rem auto;
  border: 1px solid red;
}
#tooltip {
  background-color: rgba(0, 162, 255, 0.452);
  position: absolute;
  padding: 0.5rem;
  border: 1px solid whitesmoke;
  border-radius: 0.5rem / 0.25rem;
  visibility: hidden;
  text-shadow: 1px 0 2px black;
}
#legend {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
#footer-arrow {
  text-align: center;
  position: absolute;
  top: calc(100vh - 55px);
  width: 100%;
  text-shadow: 0 1px 14px orangered;
  opacity: 0.8;
}
i:hover {
  color: rgb(255, 166, 0);
  cursor: pointer;
}
footer {
  text-align: center;
  position: absolute;
  top: 101vh;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid orangered;
  box-shadow: 0 1px 3px orangered;
  width: 60vw;
  height: 25vh;
  padding: 2rem;
  border-radius: 1rem / 0.9rem ;
  background-color: #1a1a1a;
  opacity: 0.95;
}
footer h3, footer p {
  color: gray;
}
a {
  color: rgb(190, 190, 190);
}
a:hover {
  cursor: pointer;
  color: whitesmoke;
}
a:active {
  color: #2196f3;
}
#name {
  text-decoration: none;
  color: whitesmoke; 
}
#name:hover {
  text-shadow: 0 0 20px #2196f3;
  font-size: 105%;
}
#name:active {
  color: #2196f3;
}